root {
    --grid-base: 1;
}
body {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    text-align: center;
    font-weight: 800;
    margin-top:1rem;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
}
button {
    font-family: inherit;
    font-size: larger;
    padding: 0.8rem;
    color: black;
    background-color:rgb(196, 196, 196);
    border-radius: 7px;
    box-shadow: 0 5px #f7f7f7;
    margin: 1em;
}
.slider {
    width: 160px;
}
.slider > p {
    float: left;
    position: relative;
    top: 40%;
    transform: rotate(-90deg);
    font-size: 1.7rem;
    padding: 0;
}
/*stylize range*/
input[type=range] {
    float: left;
    position: relative;
    top: 30%;
    right: 5%;
    -webkit-appearance: none;
    -webkit-transform:rotate(-90deg);
    width: 15rem;
    height: 0.8rem;
    padding: 0;
    background: white;
    border: 2px solid black;
    border-radius: 3px;
}
/*chrome*/
input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance:none;
    width: 15rem;
    height: 0.8rem;
    margin: 0;
    padding: 0;
  }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid black;
    border-radius: 3px;
    width: 1rem;
    height: 1.5rem;
    background: black;
    margin-top: -0.3rem;
}
/*FF*/
input[type=range]::-moz-range-track {
    width: 15rem;
    height: 0.8rem;
    margin: 0;
    padding: 0;
}
input[type=range]::-moz-range-thumb {
    border: 1px solid black;
    border-radius: 3px;
    width: 1rem;
    height: 1.5rem;
    background: black;
    margin-top: -0.3rem;
}
.container-parent {
    display: flex;
    justify-content: center;
    margin-right: 8%;
}
.container {
    width: 35rem;
    height: 35rem;
    border: solid black 5px;
    display: grid;
    grid-template-rows: repeat(var(--grid-base), 1fr);
    grid-template-columns: repeat(var(--grid-base), 1fr);
}
.pixel {
    background-color: white;
}
.pink {
    background-color: rgb(248, 88, 221);
}
.green {
    background-color: rgb(130, 226, 130);

}
.orange {
    background-color: rgb(250, 144, 23);
}